<style>
  footer {
    margin-top: auto;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 10;
  }

  footer::before,
  footer::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    z-index: -1;
  }

  footer::before {
    left: 0;
    background: linear-gradient(to right, transparent, transparent);
  }

  footer::after {
    right: 0;
    background: linear-gradient(to left, transparent, transparent);
  }
</style>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-white">© 2025 Onde Hoje, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-twitter" style="font-size: 24px;"></i></a></li>
      <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-instagram" style="font-size: 24px;"></i></a></li>
      <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-facebook" style="font-size: 24px;"></i></a></li>
    </ul>
  </footer>
</div>