<button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link btn-floating mx-1"
    data-mdb-button-initialized="true">
    <i style="color: white;" class="fab fa-facebook-f"></i>
</button>

<button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link btn-floating mx-1"
    data-mdb-button-initialized="true">
    <i style="color: white" class="fab fa-google"></i>
</button>

<button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link btn-floating mx-1"
    data-mdb-button-initialized="true">
    <i style="color: white" class="fab fa-twitter"></i>
</button>

<button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link btn-floating mx-1"
    data-mdb-button-initialized="true">
    <i style="color: white" class="fab fa-github"></i>
</button>