<aside class="d-flex flex-column bg-dark text-white position-fixed top-0 start-0 zindex-5 vh-100"">


    <a href="/" class="d-block p-3 link-light text-decoration-none" 
        data-bs-toggle="tooltip" data-bs-placement="right" title="Início">
        <i class="bi bi-bootstrap fs-2"></i>
    </a>

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="#" class="nav-link active py-3 border-bottom rounded-0 text-white" aria-current="page"
                data-bs-toggle="tooltip" data-bs-placement="right" title="Home">
                <i class="bi bi-house-door fs-4"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0 text-white" 
                data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
                <i class="bi bi-speedometer2 fs-4"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0 text-white" 
                data-bs-toggle="tooltip" data-bs-placement="right" title="Pedidos">
                <i class="bi bi-table fs-4"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0 text-white" 
                data-bs-toggle="tooltip" data-bs-placement="right" title="Produtos">
                <i class="bi bi-grid fs-4"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0 text-white" 
                data-bs-toggle="tooltip" data-bs-placement="right" title="Clientes">
                <i class="bi bi-people fs-4"></i>
            </a>
        </li>
    </ul>

    <!-- Dropdown com ícone -->
    <div class="dropdown border-top">
        <a href="#" class="d-flex align-items-center justify-content-center p-3 link-light text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <!-- Ícone de pessoa -->
            <i class="bi bi-person-circle fs-3"></i>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Novo Projeto...</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
        </ul>
    </div>
</aside>
