html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    transform: scale(0.90);
    transform-origin: top;
    overflow: hidden;
}

#infos {
    position: relative;
    background-color: #1D1D27;
    overflow: hidden;
  }
  
  /* Camada de luzes difusas */
  #infos::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: 
      radial-gradient(circle at 10% 90%, #70452f 20%, transparent 1%),
      radial-gradient(circle at 90% 10%, #70452f 20%, transparent 10%);
    filter: blur(90px);
    opacity: 0.8;
    z-index: 0;
  }
  
  /* Conteúdo acima do efeito */
  #infos > * {
    position: relative;
    z-index: 1;
  }
  
  

input::placeholder {
    color: white !important;
    opacity: 0.5 !important;
}

.position-relative {
    display: flex;
    flex-direction: column;
    position: relative;
}

.position-relative label {
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
}

.position-relative .form-control.is-invalid+.toggle-password {
     right: 0.75rem;
}

.position-relative .form-control:not(.is-invalid)+.toggle-password {
    right: 0.75rem;
}

.position-relative .invalid-feedback {
    margin-top: 0.5rem;
}