.OH-dark {
    background-color: #1d1d27;
}

.OH-dark:focus {
    background-color: #1d1d27;
}

.OH-bg {
    background-color: #191922;
}

.OH-bg:focus {
    background-color: #191922;
}

.OH-btt1 {
    background-color: #CCA281;
}

.OH-btt2 {
    background-color: #70452F;
}

